@import "reset.css";
@import "status-bar.css";

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202
}


.g-avatar{
    width:50px;
    height:50px;
    border-radius:10px;
}